<<<<<<< HEAD

<%= session[:palabra] %>
=======
Que comience el juego
<!--<%= session[:palabra] %>-->
>>>>>>> fbbf4b56e68d6c87df0100d58c73b1c4490a4234

<div> Palabra de <%= session[:longitud] %> caracteres </div>

<!--<%= session[:lista] %>-->


<% session[:lista].each do |elemento| %>
<div class="letra">
<%= elemento %>
</div>
<% end %>


<style type="text/css">
.letra{
	display:inline-block;
	width: 100px;
	border: dotted 1px #CCC;
	font-size: 35px;
	background: #ACC;
	text-align: center;
	font-family: Arial;
}
</style>

<table>
	<tr>
		<td>Cantidad Oportunidades</td>
		<td>6</td>	

	</tr>
	<tr>
		<td>Cantidad Errores</td>
		<td>0</td>	
	</tr>
	<tr>
		<td>Cantidad Letras Faltantes</td>
		<td>0</td>	
	</tr>
</table>
